{% extends "base.html" %}

{% block title %}
    Adding Cases from external source
{% endblock %}

{% block content %}
    <h1>Add case data from external source</h1>
    <h2>Found data:</h2>
    The following data was found:
    <div class="data">
        {% for case in data %}
            <form target="_blank" method="post" action="{{ url_for("case_data.add") }}">
                <div class="form-row justify-content-between" style="margin-left: 0; margin-right: 0">
                    <label for="date">
                        Date
                        <input name="date" class="form-control" type="date" required
                                {% if case["timestamp"] %}
                               value="{{ case["timestamp"].date() }}"
                               readonly
                                {% endif %}/>
                    </label>
                    <label for="time">
                        Time
                        <input name="time" class="form-control" type="time" required
                                {% if case["timestamp"] %}
                               value="{{ case["timestamp"].strftime('%H:%M') }}"
                               readonly
                                {% endif %}
                        />
                    </label>
                    <label>
                        Cases Region
                        <input name="cases_reg" class="form-control" type="number"
                               min=0 required
                                {% if case["cases_region"] %}
                               value="{{ case["cases_region"] }}"
                               readonly
                                {% endif %}/>
                    </label>
                    <label>
                        Cases City
                        <input name="cases_city" class="form-control" type="number"
                               min=0 required
                                {% if case["cases_city"] %}
                               value="{{ case["cases_city"] }}"
                               readonly
                                {% endif %}/>
                    </label>
                    <label>
                        Deaths
                        <input name="deceased" class="form-control" type="number" min=0
                               required
                                {% if case["deaths"] %}
                               value="{{ case["deaths"] }}"
                               readonly
                                {% endif %}/>
                    </label>
                    <label>
                        Recovered
                        <input name="recovered" class="form-control" type="number" min=0
                               required
                                {% if case["recovered"] %}
                               value="{{ case["recovered"] }}"
                               readonly
                                {% endif %}/>
                    </label>
                    <label for="submit">
                        &nbsp;
                        <button name="submit" class="btn btn-primary form-control" type="submit">add</button>
                    </label>
                </div>
            </form>
            Extracted from:
            <div class="text-muted">{{ case["orig_date_str"] }}: {{ case["orig_data_str"] }}</div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}