{% import "common/active_selector.html" as panel_generator %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            {{ panel_generator.sidebar_link("Dashboard", 'dashboard.dashboard_home', request.path) }}
            {{ panel_generator.sidebar_link("Add Case Numbers", 'case_data.add', request.path) }}
            {{ panel_generator.sidebar_link("Import from Site", 'case_data.fetch_from_page', request.path) }}
            {{ panel_generator.sidebar_link("Import from CSV", 'case_data.add_csv', request.path) }}
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Sources</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="https://www.aachen.de/corona">
                    <span></span>
                    Official Source <span class=""></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
