{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1> Dashboard</h1>
    {% include "Dashboard/toppanel.html" %}

    <div class="container-fluid">
        <div class="row">
            {% include "Dashboard/sidepanel.html" %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                </div>

                {% include "Dashboard/graph.html" %}

                <h2>Current Cases</h2>
                {% include "CaseDataEntry/common/table.html" %}
            </main>
        </div>
    </div>
{% endblock %}

{% block aferloaders %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>

    <script>
        // Graphs
      var ctx = document.getElementById('myChart')
      // eslint-disable-next-line no-unused-vars
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [
            'Sunday',
            'Monday',
            'Tuesday',
            'Wednesday',
            'Thursday',
            'Friday',
            'Saturday'
          ],
          datasets: [{
            data: [
              15339,
              21345,
              18483,
              24003,
              23489,
              24092,
              12034
            ],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false
          }
        }
      })
    </script>
{% endblock %}