{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1> Dashboard</h1>
    {% include "Dashboard/toppanel.html" %}

    <div class="container-fluid">
        <div class="row">
            {% include "Dashboard/sidepanel.html" %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                </div>

                {% include "Dashboard/graph.html" %}

                <h2>Current Cases</h2>
                {% include "CaseDataEntry/common/table.html" %}
            </main>
        </div>
    </div>
{% endblock %}

{% block aferloaders %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>

    <script>
        // Graphs
        var ctx = document.getElementById('myChart')
        // eslint-disable-next-line no-unused-vars
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: "Region",
                    data: [
                        {% for entry in entries %}
                            {
                                t: moment('{{ entry.timestamp }}'),
                                y: {{ entry.cases_region }}
                            },
                        {% endfor %}
                    ],
                    backgroundColor: 'rgba(235, 155, 52, 0.5)',
                },{
                    label: "City",
                    data: [
                        {% for entry in entries %}
                            {
                                t: moment('{{ entry.timestamp }}'),
                                y: {{ entry.cases_city }}
                            },
                        {% endfor %}
                    ],
                    backgroundColor: 'rgba(235, 211, 52, 0.5)',
                },{
                    label: "Deceased",
                    data: [
                        {% for entry in entries %}
                            {
                                t: moment('{{ entry.timestamp }}'),
                                y: {{ entry.deaths }}
                            },
                        {% endfor %}
                    ],
                    backgroundColor: 'rgba(255, 0, 0, 0.5)',
                },{
                    label: "Recovered",
                    data: [
                        {% for entry in entries %}
                            {% if entry.recovered != None %}
                            {
                                t: moment('{{ entry.timestamp }}'),
                                y: {{ entry.recovered }}
                            },
                            {% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: 'rgba(0, 255, 25, 0.5)',
                }]},
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day'
                        },
                    }]
                },
                legend: {
                    display: true
                }
            }
        })
    </script>
{% endblock %}