{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1> Dashboard</h1>
    {% include "Dashboard/toppanel.html" %}

    <div class="container-fluid">
        <div class="row">
            {% include "Dashboard/sidepanel.html" %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                </div>

                {% include "Dashboard/graph.html" %}

                <h2>Stats</h2>
                <div class="text-muted">Difference of current numbers to last days numbers.</div>
                {% if entries|length < 2 %}
                <div class="text-muted">Insufficient Data</div>
                {% else %}
                <div class="card-deck">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">New Cases Region</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ ((entries[-1].cases_region - entries[-2].cases_region)*100/entries[-2].cases_region)|round(2) }}% <small class="text-muted">({{ entries[-1].cases_region - entries[-2].cases_region }})</small></h1>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">New Cases City</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ ((entries[-1].cases_city - entries[-2].cases_city)*100/entries[-2].cases_city)|round(2) }}% <small class="text-muted">({{ entries[-1].cases_city - entries[-2].cases_city }})</small></h1>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Recovered</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ ((entries[-1].recovered - entries[-2].recovered)*100/entries[-2].recovered)|round(2) }}% <small class="text-muted">({{ entries[-1].recovered - entries[-2].recovered }})</small></h1>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Deceased</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ ((entries[-1].deaths - entries[-2].deaths)*100/entries[-2].deaths)|round(2) }}% <small class="text-muted">({{ entries[-1].deaths - entries[-2].deaths }})</small></h1>
                        </div>
                    </div>
                </div>
                {% endif %}

                <h2>Current Cases</h2>
                {% include "CaseDataEntry/common/table.html" %}
            </main>
        </div>
    </div>
{% endblock %}

{% block aferloaders %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>

    <script>
        // Graphs
        var ctx = document.getElementById('myChart')
        // eslint-disable-next-line no-unused-vars
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: "Region",
                    data: [
                        {% for entry in entries %}
                            {
                                t: moment('{{ entry.timestamp }}'),
                                y: {{ entry.cases_region }}
                            },
                        {% endfor %}
                    ],
                    backgroundColor: 'rgba(235, 155, 52, 0.5)',
                }, {
                    label: "City",
                    data: [
                        {% for entry in entries %}
                            {
                                t: moment('{{ entry.timestamp }}'),
                                y: {{ entry.cases_city }}
                            },
                        {% endfor %}
                    ],
                    backgroundColor: 'rgba(235, 211, 52, 0.5)',
                }, {
                    label: "Deceased",
                    data: [
                        {% for entry in entries %}
                            {
                                t: moment('{{ entry.timestamp }}'),
                                y: {{ entry.deaths }}
                            },
                        {% endfor %}
                    ],
                    backgroundColor: 'rgba(255, 0, 0, 0.5)',
                }, {
                    label: "Recovered",
                    data: [
                        {% for entry in entries %}
                            {% if entry.recovered != None %}
                                {
                                    t: moment('{{ entry.timestamp }}'),
                                    y: {{ entry.recovered }}
                                },
                            {% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: 'rgba(0, 255, 25, 0.5)',
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day'
                        },
                    }]
                },
                legend: {
                    display: true
                }
            }
        })
    </script>
{% endblock %}